<div class = "navbar">
<div class = "navbar-inner">
<div class = "container">
<ul class = "nav">
<li><a href = "{{ path('principal') }}">Home</a></li>
<li class = "dropdown">
<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" >MKT<b class = "caret"></b></a>
<ul class="dropdown-menu">
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Marketing</a>
<ul class="dropdown-menu">
<li><a href="{{ path('principal') }}">Papeletas</a></li>
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Merchandising</a>
<ul class="dropdown-menu">
<li><a href="{{ path('principal') }}">Consultar Orientações</a></li>
</ul>
</li>
</ul>
</li>
<li class = "dropdown">
<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" >DOL<b class = "caret"></b></a>
<ul class="dropdown-menu">
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Devolução ONDA</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Devolução CI</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Tracking 1</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">CI (Circular Interna)</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Logística Reversa</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Transferência de Material</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Guia de Remessa</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Nota Fiscal</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Tracking</a>
<ul class="dropdown-menu">
<li><a href="{{ path('ResetSenhaProntuario', {'id_interno': 284}) }}">Reset senha Prontuário</a></li>
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Recebimento Descentralizado</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Devolução Descentralizada</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Relatórios</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Protocolo Recebimento</a>
<ul class="dropdown-menu">
</ul>
</li>
</ul>
</li>
<li class = "dropdown">
<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" >DA<b class = "caret"></b></a>
<ul class="dropdown-menu">
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Pedido de Suprimentos</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Horário de Funcionamento</a>
<ul class="dropdown-menu">
</ul>
</li>
</ul>
</li>
<li class = "dropdown">
<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" >DCP<b class = "caret"></b></a>
<ul class="dropdown-menu">
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Controle Físico 9000</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Consultar Itens de Risco Por Loja</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Checagem de Prev. de Perdas</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Quebra</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Quebra</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Inventário</a>
<ul class="dropdown-menu">
</ul>
</li>
</ul>
</li>
<li class = "dropdown">
<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" >DFI<b class = "caret"></b></a>
<ul class="dropdown-menu">
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Solicitação de Numerários</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">CREI</a>
<ul class="dropdown-menu">
</ul>
</li>
</ul>
</li>
<li class = "dropdown">
<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" >DCM<b class = "caret"></b></a>
<ul class="dropdown-menu">
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Pedidos Compra Descentralizados</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Consultar Pedidos Compra</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Preço Concorrência</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Manuais</a>
<ul class="dropdown-menu">
</ul>
</li>
</ul>
</li>
<li class = "dropdown">
<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" >SENG<b class = "caret"></b></a>
<ul class="dropdown-menu">
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Manuais</a>
<ul class="dropdown-menu">
</ul>
</li>
</ul>
</li>
<li class = "dropdown">
<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" >DVLP<b class = "caret"></b></a>
<ul class="dropdown-menu">
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Cupom</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Pedidos Com Nota</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">testeSoft</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Guia de Remessa - DVLP</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Modelos de Implementação</a>
<ul class="dropdown-menu">
</ul>
</li>
</ul>
</li>
<li class = "dropdown">
<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" >GRL<b class = "caret"></b></a>
<ul class="dropdown-menu">
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Checklist Diário</a>
<ul class="dropdown-menu">
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Ferramentas de Gestão</a>
<ul class="dropdown-menu">
</ul>
</li>
</ul>
</li>
<li class = "dropdown">
<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" >Ocorrências<b class = "caret"></b></a>
<ul class="dropdown-menu">
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Abrir Ocorrência</a>
<ul class="dropdown-menu">
<li><a href="{{ path('Ocorrencia', {'id_interno': 397}) }}">Novo</a></li>
<li><a href="{{ path('OcorrenciaListar', {'id_interno': 398}) }}">Listar</a></li>
</ul>
</li>
</ul>
</li>
<li class = "dropdown">
<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown" >Opções<b class = "caret"></b></a>
<ul class="dropdown-menu">
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Cadastro de Usuários</a>
<ul class="dropdown-menu">
<li><a href="{{ path('AdminUsuarioNovo', {'id_interno': 50}) }}">Novo Usuário</a></li>
<li><a href="{{ path('AdminCFUserProntuario', {'id_interno': 230}) }}">Prontuário Controle  Físico 9000</a></li>
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" class="dropdown-toggle" data-toggle="dropdown-submenu">Preferências</a>
<ul class="dropdown-menu">
<li><a href="{{ path('AdminUpdateSenhaUsuario', {'id_interno': 7}) }}">Alterar Senha</a></li>
<li><a href="{{ path('AdminUpdateSenhaProntuario', {'id_interno': 235}) }}">Alterar Senha Controle Físico 9000</a></li>
<li><a href="{{ path('UpdateLojaProntuario', {'id_interno': 349}) }}">Alterar Loja do Prontuário</a></li>
<li><a href="{{ path('ResetSenhaProntuario', {'id_interno': 402}) }}">Reset senha Prontuário</a></li>
<li><a href="{{ path('TrackAbastecimentoRelatorioDiario', {'id_interno': 403}) }}">Relatório diário - Abastecimento</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
</div>
</div>